{% extends 'base.html' %}

{% block header %}
<style>
  table, th, td {
      padding: 10px;
      border: 1px solid black;
      border-collapse: collapse;
      }
  td {
    text-align: right;
  }
</style>

  <h1>{% block title %}{% endblock %}</h1>

    <div style="width:100%;">
      <h1 style="text-align:center;">Hello User: {{g.user[1]}}</h1>
      <a class="action" href="{{ url_for('blog.create') }}" style="text-align:right;">Transfer Funds</a>
    </div>

{% endblock %}

{% block content %}

    <h3>Search for a transaction date (mmddyy):</h3>
    {% from "_formhelpers.html" import render_field %}
    <form method="post">
      <table style="border:none;">
        <tr>
          <td style="border:none;">{{ render_field(form.search) }}</td>
          <td style="border:none;"><input type="submit" value="Search"></td>
        </tr>
      </table>
        <p>

    {% if results %}
      <table>
        <tr>
          <th>User ID</th>
          <th colspan="2">Username</th>
          <th colspan="4">Date</th>
          <th>Amount</th>
        </tr>

        {% for result in results %}

            <tr>
              <td>{{ result[0] }}</td>
              <td colspan="2">{{ result[1] }}</td>
              <td colspan="4">{{ result[2] }}</td>
              <td>{{ result[3] }}</td>
            </tr>

        {% endfor %}
      </table>
    {% else %}
        <p>No results found for your account.</p>
    {% endif %}

  {% endblock %}
